<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista Detallada</title>
  <link rel="stylesheet" href="vitrina_productos/css/vistadetallada.css">
</head>
<body>
   <!-- Header -->
   <header>
    <img src="vitrina_productos/img/logo.png" class="logo_img" alt="">
      <!-- Barra de navegación -->
    <img src="vitrina_productos/img/hamburguer_icon.svg" class="abrir-btn" alt="">
    <nav class="" id="navbar">
      <ul class="opciones">
        <li><a href="#">Mi cuenta</a></li>
        <li><a href="#">Mi banco</a></li>
        <li><a href="#">Subasta</a></li>
        <li><a href="#">Jugar online</a></li>
        <li><a href="#">Torneo</a></li>
        <li><a href="#">Resumen Flotante</a></li>
        <li><a href="#">Lista Deseos</a></li>
        <li><a href="#"><button class="login_btn">Login</button></a></li>
      </ul>
    </nav>
  </header>
  <!-- Main -->
  <main>
<div class="container_general">
  <img class="back_img" src="vitrina_productos/img/Vector.png" onclick="vistaEcommerce()">
  <% for (var i = 0; i < datos.length; i++) { %>
<div class="imagen_carta">
  <img src=<%= datos[i].imagen %>  class="card-img">
<ul class="calificacion_stars">
  <li><img src="vitrina_productos/img/star-regular.svg"></li>
  <li><img src="vitrina_productos/img/star-regular.svg"></li>
  <li><img src="vitrina_productos/img/star-regular.svg"></li>
  <li><img src="vitrina_productos/img/star-regular.svg"></li>
  <li><img src="vitrina_productos/img/star-regular.svg"></li>
</ul>
</div>
<div class="detalles_carta">
  <p> <b>Nombre:</b><%= datos[i].nombre %></p>
  <p> <b>Poder:</b> <%= datos[i].poder %></p>
  <p> <b>Vida:</b> <%= datos[i].vida %></p>
  <p><b>Defensa:</b> <%= datos[i].defensa %></p>
  <p><b>Ataque:</b> <%= datos[i].ataque %></p>
  <p><b>Daño:</b> <%= datos[i].dano %></p>
  <p><b>Tipo:</b> <%= datos[i].tipo %></p>
  <p><b>Subtipo:</b> <%= datos[i].subtipo %></p>
  <p><b>Descripción:</b> <%= datos[i].descripcion %></p>
</div>

<!-- COMENTARIOS -->

<div class="comentarios_container">
  <h1>Comentarios de la Carta</h1>
  <section class="comentarios_container_section01">
      <form action="/upload" method="post" enctype="multipart/form-data" class="comentarios_container_section01_form">

          <textarea name="comentarioUsuario" id="comentarioUsuario" placeholder="Agrega un comentario..." maxlength="100"></textarea>

          <input name="submitComentario" id="submitComentario" type="submit" value="Publicar Comentario">
          <label for="imagenComentario">
              Subir Imagen
              <input name="imagenComentario" id="imagenComentario" type="file">
          </label>
      </form>
  </section>
  <section class="comentarios_container_section02">
      <article class="comentarios_container_section02_article">
          <div>
              <h3>
                  Samir London
              </h3>
              <time datetime="2024-02-25">
                  Domingo 25 de Febrero, 2024
              </time>
          </div>
          <p>
              Esta carta es espectacular, siempre gano con ella todas mis partidas, es fuerte pero tambien esta balanceada, se las recomiendo a todos muchachos,no van a perder dinero comprando esta carta. Muy buena.
          </p>
          <figure class="comentarios_container_section02_article_figure">
              <img src="https://media.istockphoto.com/id/1500623143/es/foto/renderizado-3d-de-una-escena-de-fantas%C3%ADa-con-un-orco-sosteniendo-a-su-camarada-ca%C3%ADdo-una-chica.jpg?s=1024x1024&w=is&k=20&c=Pl_8RpVd1o0_Hfg3g9ycwGRkRVYMJwnduwbOHYCsmyo=" alt="Orco">
          </figure>
          <figure class="comentarios_container_section02_article_figure">
              <img src="https://cdn.pixabay.com/photo/2021/01/29/05/14/character-5959714_1280.png" alt="Orco">
          </figure>
      </article>
      <article class="comentarios_container_section02_article">
          <div>
              <h3>
                  Saitamasensei07
              </h3>
              <time datetime="2024-02-25">
                  Jueves 29 de Febrero, 2024
              </time>
          </div>
          <p>
              Esta carta, es buena, pero me parece muy cara para su precio, deberia ser un poco mas precio calidad, por otro lado tiene buenas calidades, la tengo en mi mazo en todas mis partidas.
          </p>
          <figure class="comentarios_container_section02_article_figure">
              <img src="https://cdn.pixabay.com/photo/2024/02/21/19/41/ai-generated-8588442_1280.jpg" alt="Orco">
          </figure>
      </article>

  </section>
  
</div>
<% } %>

</div>
</main>
<script src="vitrina_productos/js/navbar.js"></script>
<script src="vitrina_productos/js/vistaDetallada.js"></script>
</body>
</html>
