<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <!-- Header -->
  <header>
    <img src="images/logo.png" class="logo_img" alt="">
    <!-- Barra de navegación -->
    <img src="images/hamburguesa_icon.svg" class="abrir-btn" alt="">
    <nav class="" id="navbar">
      <ul class="opciones">
        <li><a href="#">Mi cuenta</a></li>
        <li><a href="#">Mi banco</a></li>
        <li><a href="#">Subasta</a></li>
        <li><a href="#">Jugar online</a></li>
        <li><a href="#">Torneo</a></li>
        <li><a href="#">Resumen Flotante</a></li>
        <li><a href="#">Lista Deseos</a></li>
        <li><a href="#"><button class="login_btn">Login</button></a></li>
      </ul>
    </nav>
  </header>
  <!-- Vitrina de productos -->
  <main>
    <!-- filtros -->
    <div class="filtros">
      <h1>Filtros</h1>
      <form action="">
        <ul class="tipo_filtros">
          <!-- filtro precios -->
          <li>
            <h2>Precios</h2>
          </li>
          <li><select class="seleccionar_precio">
              <option value="#" disabled selected>Precios</soption>
              <option value="desc">Mayor a menor</option>
              <option value="asc">Menor a mayor</option>
            </select></li>

          <!-- Tipo de carta -->
          <li>
            <h2>Tipo de carta</h2>
          </li>
          <li><select class="tipo_carta">
              <option value="#" disabled selected>Selecciona un tipo</option>
              <option value="Guerrero Tanque">Guerrero Tanque</option>
              <option value="Guerrero Armas">Guerrero Armas</option>
              <option value="Mago fuego">Guerrero fuego</option>
              <option value="Mago hielo">Guerrero hielo</option>
              <option value="Picaro veneno">Picaro veneno</option>
              <option value="Picaro machete">Picaro machete</option>
            </select></li>
          <!-- filtro promocion -->
          <li>
            <input type="checkbox" name="promociones" class="promociones" id="promociones" value="promociones"> <b>Promoción</b>
          </li>
          <input type="submit" id="filtro_input" value="Filtrar">
        </ul>
      </form>
    </div>
    <div class="container_general">
      <!--Parte barra de búsqueda  -->
      <div class="barra_busqueda">
        <form action="" class="search_form">
          <input type="text" class="search_input" placeholder="Ingresa tu búsqueda" maxlength="35">
          <img src="images/search_icon.svg" alt="search_icon" class="search_icon">
        </form>
      </div>
      <!-- CARTAS -->
      <div class="container_productos">>
        <div class="card">
          <div class="imagen_carta">
            <img src="images/carta.png" class="personaje">
        </div>
        <div class="informacion_carta">
          <p>Cedric Cogswell</p>
          <p>Poder</p>
          <p>Vida:</p>
          <p>Defensa:</p>
          <p>Ataque:</p>
          <p>Daño:</p>
      
              
          <div class="rectangulo">
            <!-- <div class="cantidad">
                <p>Mover al carrito</p>
            </div> -->
            <div class="">
              <button><i class="fa-solid fa-trash"></i></button>
            </div>
            
          </div>
          </div>
        </div>
      </div>
  </main>
      <!-- Cartas -->

  <!-- ////////////// -->
    
  
  
  <script src="js/hamburguer.js"></script>
</body>
</html>

<!-- CUADRO DE SEGUIR AL CARRO DE COMPRA -->
<aside class="resumen">
<div class="compra">
    <h2>Resumen de tus deseos</h2>
    <hr class="lineados">
</div>
<div class="productos">
    <p>Productos:</p>
    
    
    <hr class="lineados">
    
</div>
<div class="pedido">
    <button class="realizar" id="checkout"> Ir al carro de compras</button>
    <p class="añadir">¿Quieres añadir más productos?</p>
</div>
</aside>

<!-- peticiones de la base de datos para la funcion de eliminar carta -->
  <div class="card-container">
    

    <% products.forEach(function(item) { %>
    <ul id="item-<%= item.id %>">
        <li><%= item.nombre %></li>
        <li><%= item.precio %></li>
        <button onclick='eliminar(<%= item.id %>)'>Eliminar</button>
    </ul>
    <% }); %>
    

  </div>

  <script> 
  function eliminar(item_id) {
    // Crear instancia de XMLHttpRequest
    const xhr = new XMLHttpRequest();
  
    // Configurar la solicitud
    xhr.open('POST', 'http://192.168.1.15:3000/lista_deseos/eliminar/' + item_id, true);
    xhr.setRequestHeader('Content-Type', 'application/json');
  
    // Definir el callback para manejar la respuesta
    xhr.onload = function() {
      if (xhr.status >= 200 && xhr.status < 300) {
        // La solicitud fue exitosa
        alert('Se elimino correctamente');
        
        // Obtener el elemento que deseas eliminar
const elementoAEliminar = document.getElementById('item-'+item_id);

// Eliminar el elemento
elementoAEliminar.remove();

      } else {
        // La solicitud falló
        alert('No se pudo eliminar correctamente');
      }
    };
  
    // Enviar la solicitud con los datos
    xhr.send();
  }
  </script>