<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="/templates/css/navbarFeatureCSS.css">
  <link rel="stylesheet" href="/resumen_flotante/css/style.css">

</head>

<body>

  <header>
    <nav>
      <%- include('../../templates/navbarEcommerce'); %>
    </nav>
  </header>

  <main>
    <div class="left-side">
      <div class="filtros">
        <ul class="tipo_filtros">
          <li>
            <h2>Precios</h2>
          </li>
          <li> <label for="min\_price"><strong>Precio mínimo:</strong></label> <input type="number" id="min_price" min="0" step="1000"> </li>
          <li> <label for="max\_price"><strong>Precio máximo:</strong></label> <input type="number" id="max_price" min="0" step="1000"> </li>
          <li>
            <h2>Orden</h2>
          </li>
          <li><select class="seleccionar\_precio" id="sortOrder">
              <option value="" disabled selected>Orden</option>
              <option value="desc">Mayor a menor</option>
              <option value="asc">Menor a mayor</option>
            </select></li>

          <li>
            <h2>Tipo de carta</h2>
          </li>
          <li><select class="tipo_carta" id="Type">
              <option value="" disabled selected>Selecciona un tipo</option>
              <option value="Weapon">Armas</option>
              <option value="Armor">Armaduras</option>
              <option value="Hero">Héroes</option>
              <option value="Item">Items</option>
              <option value="Talent">Talentos</option>
            </select>
          </li>
          <li>
            <input type="checkbox" name="sale" class="promociones" id="sale" value="promociones"> <b>Promoción</b>
          </li>
          <button id="botonFiltrar" onclick="filtrarCartas()">Filtrar</button>
        </ul>
      </div>
    </div>
    <div class="right-side">
      <div class="row1">
        <h3 style="color: white;">LISTA DE DESEOS</h3>
        <!-- Tu código HTML -->
        <form class="form-search" onsubmit="event.preventDefault()">
          <input class="search_input" type="search" placeholder="Search" maxlength="35">
          <button type="button" onclick="filtrarPorBusqueda()">Buscar</button>
        </form>
        
        
        
          
        <div class="paginas">
          <ul class="listPage">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
          </ul>
        </div>
      </div>
      <div class="row2" id="cartasContainer">
        <% products.forEach(function(item) { %>
        <div class="card card-<%= item.TypeCard %> " id="carta-<%= item.id %>">
          <div class="imagen_carta">
            <img src="<%= item.imagePath %>" class="personaje" />
          </div>
          <div class="informacion-carta">
            <div id="nombre">
              <p> <%= item.Name %> </p>
              <p> Precio: <%= item.divisa %><%= item.precio %></p>
              <img src="<%= item.imgType %>" class="heroe" />
            </div>
            <p>Tipo: <%= item.Type %> </p>
            <p>Poder: <%= item.poder %> </p>
            <p>Vida: <%= item.vida %> </p>
            <p>Defensa: <%= item.defensa %></p>
            <p>Ataque: <%= item.ataque %> </p>

            <% if (item.SubType === 'hielo') { %>
            <div class="subtipo-<%= item.SubType %>">
              <p id="cart">Buff: <%= item.poder %></p>
              <p id="cart2">Poder: <%= item.vida %></p>
            </div>
            <% } %>
            <div class="botones">
              <div class="modificar">
                <button onclick='eliminar("<%= item.id %>")'>Eliminar</button>
                <button onclick='moverCarroCompras("<%= item.id %>")'>Mover al carrito</button>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </main>

  <script src="/js/redirects.js"></script>
  <script src="/lista_deseos/js/enviar.js"></script>
  <script src="/lista_deseos/js/eliminar.js"></script>
  <script src="/lista_deseos/js/paginacion.js"></script>
  <script src="/lista_deseos/js/jugarOnline.js"></script>
  <script src="/lista_deseos/js/hamburguer.js"></script>
  <script src="js/enviar.js"></script>
  <script src="js/eliminar.js"></script>
  <script src="js/paginacion.js"></script>
  <script src="js/jugarOnline.js"></script>
  <script src="/vitrina_productos/js/filtrarCartas.js"></script>


</body>

</html>