<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- Header -->
  <header>
    <section class="nav">
      <img src="img/logo.png" class="logo_img" alt="">
      <!-- Barra de navegación -->
      <img src="img/hamburguesa_icon.svg" class="abrir-btn" alt="">
      <nav class="" id="navbar">
        <ul class="opciones">
          <li><a href="/miCuenta"">Mi cuenta</a></li>
          <li><a href=" #">Mi banco</a></li>
          <li><a href="#">Subasta</a></li>
          <li><a href="#">Jugar online</a></li>
          <li><a href="#">Torneo</a></li>
          <li><a href="#">Resumen Flotante</a></li>
          <li><a href="/lista_deseos">Lista Deseos</a></li>
          <li class="cerrar-sesion"><a href="#"><button id="login_btn">Iniciar Sesion</button></a></li>
        </ul>
      </nav>
    </section>
  </header>
  <!-- Vitrina de productos -->
  <main>

    <!-- filtros -->
    <div class="filtros">
      <h1>Filtros</h1>
      <form action="">
        <ul class="tipo_filtros">
          <!-- filtro precios -->
          <li>
            <h2>Precios</h2>
          </li>
          <li><select class="seleccionar_precio">
              <option value="#" disabled selected>Precios</soption>
              <option value="desc">Mayor a menor</option>
              <option value="asc">Menor a mayor</option>
            </select></li>

          <!-- Tipo de carta -->
          <li>
            <h2>Tipo de carta</h2>
          </li>
          <li><select class="tipo_carta">
              <option value="#" disabled selected>Selecciona un tipo</option>
              <option value="Guerrero Tanque">Guerrero Tanque</option>
              <option value="Guerrero Armas">Guerrero Armas</option>
              <option value="Mago fuego">Guerrero fuego</option>
              <option value="Mago hielo">Guerrero hielo</option>
              <option value="Picaro veneno">Picaro veneno</option>
              <option value="Picaro machete">Picaro machete</option>
            </select></li>
          <!-- filtro promocion -->
          <li>
            <input type="checkbox" name="promociones" class="promociones" id="promociones" value="promociones"> <b>Promoción</b>
          </li>
          <input type="submit" id="filtro_input" value="Filtrar">
        </ul>
      </form>
    </div>

    <!-- Parte barra de búsqueda  -->
    <!-- Cartas -->

    <div class="container_general">
      <h3 class="agregar">Mi Lista de Deseos</h3>
      <div class="list">

        <% products.forEach(function(item) { %>
        <div class="card card-<%= item.TypeCard %> " id="carta-<%= item.id %>">
          <div class="imagen_carta">
            <img src="<%= item.imagePath %>" class="personaje" />
          </div>
          <div class="informacion_carta">
            <div id="nombre">
              <p> <%= item.Name %> </p>
              <p> Precio: <%= item.divisa %><%= item.precio %></p>
              <img src="<%= item.imgType %>" class="heroe" />
            </div>
            <p>Tipo: <%= item.Type %> </p>
            <p>Poder: <%= item.poder %> </p>
            <p>Vida: <%= item.vida %> </p>
            <p>Defensa: <%= item.defensa %></p>
            <p>Ataque: <%= item.ataque %> </p>

            <% if (item.SubType === 'hielo') { %>
            <div class="subtipo-<%= item.SubType %>">
              <p id="cart">Buff: <%= item.poder %></p>
              <p id="cart2">Poder: <%= item.vida %></p>
            </div>
            <% } %>

            <div class="botones">
              <div class="modificar">
                <button onclick='eliminar(<%= item.id %>)'>Eliminar</button>
                <button onclick='moverCarroCompras(<%= item.id %>)'>Mover al carrito</button>
              </div>
            </div>
          </div>
        </div>
        <% }); %>

      </div>
      <div class="paginas">
        <ul class="listPage">
          <li class="active">1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </div>
  </main>

  <script src="js/enviar.js"></script>
  <script src="js/eliminar.js"></script>

  <script src="js/nav.js"></script>
  <script src="js/paginacion.js"></script>
  <script src="js/jugarOnline.js"></script>
  <script src="js/hamburguer.js"></script>

</body>

</html>