<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- Header -->
  <header>
    <section class="nav">
      <img src="img/logo.png" class="logo_img" alt="">
      <!-- Barra de navegación -->
      <img src="img/hamburguesa_icon.svg" class="abrir-btn" alt="">
      <nav class="" id="navbar">
        <ul class="opciones">
          <li><a href="#"">Mi cuenta</a></li>
          <li><a href="#">Mi banco</a></li>
          <li><a href="#">Subasta</a></li>
          <li><a href="#" >Jugar online</a></li>
          <li><a href="#">Torneo</a></li>
          <li><a href="#">Resumen Flotante</a></li>
          <li><a href="#">Lista Deseos</a></li>
          <li class="cerrar-sesion"><a href="#"><button id="login_btn">Iniciar Sesion</button></a></li>
        </ul>
      </nav>
    </section>
  </header>
  <!-- Vitrina de productos -->
  <main>    
    
    <!-- filtros -->
    <div class="filtros">
      <h1>Filtros</h1>
      <form action="">
        <ul class="tipo_filtros">
          <!-- filtro precios -->
          <li>
            <h2>Precios</h2>
          </li>
          <li><select class="seleccionar_precio">
            <option value="#" disabled selected>Precios</soption>
              <option value="desc">Mayor a menor</option>
              <option value="asc">Menor a mayor</option>
            </select></li>
            
            <!-- Tipo de carta -->
            <li>
              <h2>Tipo de carta</h2>
            </li>
            <li><select class="tipo_carta">
              <option value="#" disabled selected>Selecciona un tipo</option>
              <option value="Guerrero Tanque">Guerrero Tanque</option>
              <option value="Guerrero Armas">Guerrero Armas</option>
              <option value="Mago fuego">Guerrero fuego</option>
              <option value="Mago hielo">Guerrero hielo</option>
              <option value="Picaro veneno">Picaro veneno</option>
              <option value="Picaro machete">Picaro machete</option>
            </select></li>
            <!-- filtro promocion -->
            <li>
              <input type="checkbox" name="promociones" class="promociones" id="promociones" value="promociones"> <b>Promoción</b>
            </li>
            <input type="submit" id="filtro_input" value="Filtrar">
          </ul>
        </form>
      </div>
    
    <!-- Parte barra de búsqueda  -->
<!-- Cartas -->

  <div class="container_general">
    <h3 class="agregar">Mi Lista de Deseos</h3>
    <div class="list">
      
      <% products.forEach(function(item) { %>
        <div class="card" id="carta-<%= item.id %>">
          <div class="imagen_carta">
            <img src="img/carta.png" class="personaje" />
          </div>
          <div class="informacion_carta">
            <div id="nombre">
              <p> <%= item.nombre %> </p>
              <img src="img/espadas.png" class="heroe" />
            </div>
            <p>Poder: </p>
            <p>Vida: </p>
            <p>Defensa: <%= item.defensa %></p>
            <p>Ataque: <%= item.ataque %> </p>
            <p>Daño: <%= item.daño %></p>
            <div class="botones">
              <div class="modificar">
                <button onclick='eliminar(<%= item.id %>)'>Eliminar</button>
                <button onclick='moverCarroCompras(<%= item.id %>)'>Mover al carrito</button>
              </div>
            </div>
          </div>
        </div>
      <% }); %>
      </div>
      <div class="paginas">
        <ul class="listPage">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
        </ul>
      </div>
  </div>
  </main>
  <script src="js/nav.js"></script>
  <script src="js/vistaCrea.js"></script>
  <script src="js/paginacion.js"></script>
  <script src="js/miCuenta.js"></script>
  <script src="js/modificacionInv.js"></script>
  <script src="js/index.js" type="module"></script>
  <script src="js/jugarOnline.js"></script>
  <script src="js/hamburguer.js"></script>

  <script> 
    function eliminar(item_id) {
      // Crear instancia de XMLHttpRequest
      const xhr = new XMLHttpRequest();
      
      // Definir la URL de la solicitud utilizando una variable de entorno
      const url = `<%= process.env.WISH_URL %>/lista_deseos/eliminar/${item_id}`;
      xhr.open('POST', url, true);

      // Establecer el encabezado de la solicitud
      xhr.setRequestHeader('Content-Type', 'application/json');

      // Definir el callback para manejar la respuesta
      xhr.onload = function() {
          if (xhr.status >= 200 && xhr.status < 300) {
              // La solicitud fue exitosa
              alert('Se eliminó correctamente');

              // Obtener el elemento que deseas eliminar
              const elementoAEliminar = document.getElementById('carta-' + item_id);

              // Eliminar el elemento
              elementoAEliminar.remove();
          } else {
              // La solicitud falló
              alert('No se pudo eliminar correctamente');
          }
      };
      // Enviar la solicitud con los datos
      xhr.send();
    }

    </script>
    <script>
      function moverCarroCompras(item_id){
        const url = `<%= process.env.WISH_URL %>/dummy/ADD-CARD`;
        const data = {
          'IdUsuario': <%= user['id'] %>,
          'IdCard': item_id,
          'Cantidad': 1
        };
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        };

        fetch(url, options)
        .then(response => {
          if (response.ok) {
            return response.json();
          }
          throw new Error('Error en la solicitud POST');
        })
        .then(data => {
          console.log('Respuesta del servidor: ', data);
          alert('Su producto fue agregado exitosamente al carro de compras');
          // eliminar(item_id); //preguntar si se debe eliminar al enviar
        })
        .catch(error => {
          console.error('Error en la solicutud: ', error)
        });
      }
    </script>
</body>
</html>
