
<link rel="stylesheet" href="/templates/css/lista_deseos.css">
<body>
    <div class="right-side">
      <div class="row1">
        <h3 style="color: white;">LISTA DE DESEOS</h3>
        <form action="" class="form-search" role="search">
          <input class="search_input" type="search" placeholder="Search" maxlength="35" onkeydown="filtrarPorBusqueda(event)">
        </form>
        <div class="paginas">
          <ul class="listPage">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
          </ul>
        </div>
      </div>
      <div class="row2">
        <% products.forEach(function(item) { %>
        <div class="card card-<%= item.TypeCard %> " id="carta-<%= item.id %>">
          <div class="imagen_carta">
            <img src="<%= item.imagePath %>" class="personaje" />
          </div>
          <div class="informacion-carta">
            <div id="nombre">
              <p> <%= item.Name %> </p>
              <p> Precio: <%= item.divisa %><%= item.precio %></p>
              <img src="<%= item.imgType %>" class="heroe" />
            </div>
            <p>Tipo: <%= item.Type %> </p>
            <p>Poder: <%= item.poder %> </p>
            <p>Vida: <%= item.vida %> </p>
            <p>Defensa: <%= item.defensa %></p>
            <p>Ataque: <%= item.ataque %> </p>

            <% if (item.SubType === 'hielo') { %>
            <div class="subtipo-<%= item.SubType %>">
              <p id="cart">Buff: <%= item.poder %></p>
              <p id="cart2">Poder: <%= item.vida %></p>
            </div>
            <% } %>
            <div class="botones">
              <div class="modificar">
                <button onclick='eliminar("<%= item.id %>")'>Eliminar</button>
                <button onclick='moverCarroCompras("<%= item.id %>")'>Mover al carrito</button>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>  
</body>
