<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventario</title>
  <link rel="stylesheet" href="/inventario/css/e-commerce.css">
</head>

<body>
  <!-- Header -->
  <header>
    <section class="nav">
      <img src="/inventario/imagenes/logo_nb2_v2.png" class="logo_img" alt="">
      <!-- Barra de navegación -->
      <img src="/inventario/imagenes/hamburguer_icon.svg" class="abrir-btn" alt="">
      <nav class="" id="navbar">
        <ul class="opciones">
          <li><a href="#" onclick="miCuenta()">Mi cuenta</a></li>
          <li><a href="#">Mi banco</a></li>
          <li><a href="#">Subasta</a></li>
          <li><a href="#">Jugar online</a></li>
          <li><a href="#">Torneo</a></li>
          <li><a href="#">Resumen Flotante</a></li>
          <li><a href="#">Lista Deseos</a></li>
          <li class="cerrar-sesion"><a href="#"><button id="login_btn">Cerrar Sesión</button></a></li>
        </ul>
      </nav>
    </section>
  </header>
  <!-- Vitrina de productos -->
  <main>
    
    
         <!-- Cartas -->
         <div class="container_general">
          <button class="agregar" onclick="a()">Agregar Carta</button>
          <div class="list">
              <% for (var i = 0; i < datos.length; i++) { %>
              <div class="card">
                  <div class="imagen_carta">
                      <img src="<%= datos[i].imagen %>" class="personaje">
                  </div>
                  <div class="informacion_carta">
                    <div id="nombre">
                      <p><%= datos[i].nombre %></p>
                      <img src="/inventario/imagenes/espadas.png" class="heroe">
                    </div>
                      <p>Poder: <%= datos[i].poder %></p>
                      <p>Vida: <%= datos[i].vida %></p>
                      <p>Defensa: <%= datos[i].defensa %></p>
                      <p>Ataque: <%= datos[i].ataque %></p>
                      <p>Daño: <%= datos[i].dano %></p>
                      <div class="botones">
                          <div class="modificar">
                              <button>Suspender</button>
                              <button onclick=" modificacionCarta()">Modificar</button>
                          </div>
                      </div>
                  </div>
              </div>
              <% } %>
          </div>
          <div class="paginas">
              <ul class="listPage">
                  <li class="active">1</li>
                  <li>2</li>
                  <li>3</li>
              </ul>
          </div>
      </div>
    </div>
  </main>
  <script src="/inventario/js/nav.js"></script>
  <script src="/inventario/js/vistaCrea.js"></script>
  <script src="/inventario/js/paginacion.js"></script>
  <script src="/inventario/js/miCuenta.js"></script>
  <script src="/inventario/js/modificacionInv.js"></script>
</body>
</html>
