<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/carro_compras/css/style.css">
        <title>Document</title>
    </head>

<body>
    <header>
        <img src="/carro_compras/img/logo.png" class="logo_img" alt="">
        <!-- Barra de navegación -->
        <img src="/carro_compras/img/hamburguer_icon.svg" class="abrir-btn" alt="">
        <nav class="" id="navbar">
            <ul class="opciones">
                <li><a href="#">Mi cuenta</a></li>
                <li><a href="#">Mi banco</a></li>
                <li><a href="#">Subasta</a></li>
                <li><a href="#">Jugar online</a></li>
                <li><a href="#">Torneo</a></li>
                <li><a id="mostrar-resumen-flotante" href="#">Resumen Flotante</a></li>
                <li><a href="#">Lista Deseos</a></li>
                <li><a href="#"><button class="login_btn">Login</button></a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div>
            <button class="regresar">
                <img class="flecha" src="carro_compras/img/flechablanca.png">
            </button>
        </div>
        <div class="carrito">
            <h1 class="titulo">Tu carro de compra</h1>
            <hr class="linea">
        </div>
    </section>
    <main>
        <div class="container">
            <div class="list">
                <% for (var i=0; i < cartas.length; i++) { %>
                    <div class="item">
                        <div class="imagen_carta">
                            <img src=<%=cartas[i].imagen %> class="personaje">
                        </div>
                        <div class="informacion_carta">
                            <p>
                                <%= cartas[i].CARTA_ID%>
                            </p>
                            <p>Poder: <%= cartas[i].CANTIDAD%>
                            </p>
                            <p>Vida: <%= cartas[i].vida%>
                            </p>
                            <p>Defensa: <%= cartas[i].defensa%>
                            </p>
                            <p>Ataque: <%= cartas[i].ataque%>
                            </p>
                            <p>Daño: <%= cartas[i].dano%>
                            </p>

                            <div class="eliminar">
                                <p class="eliminarx" data-id="<%= cartas[i].CARTA_ID %>">X</p>
                            </div>
                            <div class="rectangulo">
                                <div class="cantidad">
                                    <button class="masmenos-menos">-</button>
                                    <p class="cantidadx" data-Id="<%= cartas[i].CARTA_ID %>" data-IdUsuario="<%= cartas[i].IdUsuario %>" data-cantidad="<%= cartas[i].CANTIDAD %>"><%= cartas[i].CANTIDAD %></p>
                                    <button class="masmenos-mas">+</button>
                                </div>
                                
                                <div class="valor">
                                    <p>$168.000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
            <div class="paginas">
                <ul class="listPage">
                    <li class="active">1</li>
                    <li class="numeros">2</li>
                    <li class="numeros">3</li>
                </ul>
            </div>
        </div>
        <div class="resumen">
            <div class="compra">
                <h2>Resumen de compra</h2>
                <hr class="lineados">
            </div>
            <div class="productos">
                <div class="productosp">
                    <p>Productos:</p>
                    <p class="numproductos">1</p>
                </div>
                <div class="totalb">
                    <p>Total bruto:</p>
                    <p class="numtotalb">1</p>
                </div>
                <div class="iva">
                    <p>Impuesto(IVA):</p>
                    <p class="numiva">19%</p>
                </div>
                <hr class="lineatres">
                <div class="total">
                    <h3>Total</h3>
                    <p class="numtotal">1</p>
                </div>
            </div>

            <div class="pedido">
                <button class="realizar" id="checkout"> Realizar pedido</button>
                <p class="añadir">¿Quieres añadir más productos?</p>

                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                
            </div>
        </div>
        <div id="resumen-flotante" class="resumen-flotante-oculto">
            <h2>Resumen de compra</h2>
            <hr class="lineados">
            <div class="resumen-flotante-contenido">
                <div class="comprados">
                    <% for (var i=0; i < cartas.length; i++) { %>
                        <div class="guardar_cartas">
                            <div class="imagen_cartados">
                                <img src=<%=cartas[i].imagen %> class="personajedos">
                            </div>
                            <div class="informacion_cartados">
                                <p>
                                    <%= cartas[i].CARTA_ID%>
                                </p>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <div class="productosdos">
                <div class="productosp">
                    <p>Productos:</p>
                    <p class="numproductos">1</p>
                </div>
                <div class="totalb">
                    <p>Total bruto:</p>
                    <p class="numtotalb">1</p>
                </div>
                <div class="iva">
                    <p>Impuesto(IVA):</p>
                    <p class="numiva">19%</p>
                </div>
                <hr class="lineatres">
                <div class="total">
                    <h3>Total</h3>
                    <p class="numtotal">1</p>
                </div>
            </div>
            <div class="pedidodos">
                <button class="realizardos" id="checkout"> Realizar pedido</button>
            </div>
            <div class="ircarrito">
                <button class="ircarritodos" id="checkout"> Ir al carrito</button>
            </div>
            <div class="guardar">
                <p>^</p>
            </div>
        </div>
        </div>
    </main>
    <script src="carro_compras/js/navbar.js"></script>
    <script src="carro_compras/js/paginacion.js"></script>
    <script src="carro_compras/js/resumen_flotante.js"></script>
    <script src="carro_compras/js/cantidad.js"></script>
    <script src="carro_compras/js/eliminar.js"></script>
    <script src="carro_compras/js/paypal.js"></script>
    <script src="carro_compras/js/valores.js"></script>
</body>

</html>