<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/carro_compras/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/carro_compras/img/logo.png" class="logo_img" alt="">
          <!-- Barra de navegación -->
        <img src="/carro_compras/img/hamburguer_icon.svg" class="abrir-btn" alt="">
        <nav class="" id="navbar">
          <ul class="opciones">
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Mi banco</a></li>
            <li><a href="#">Subasta</a></li>
            <li><a href="#">Jugar online</a></li>
            <li><a href="#">Torneo</a></li>
            <li><a id="mostrar-resumen-flotante" href="#">Resumen Flotante</a></li>
            <li><a href="#">Lista Deseos</a></li>
            <li><a href="#"><button class="login_btn">Login</button></a></li>
          </ul>
        </nav>
      </header>
      <section>
        <div>
            <button class="regresar">
                <img class="flecha" src="carro_compras/img/flechablanca.png">
            </button>
        </div>
        <div class="carrito">
            <h1 class="titulo">Tu carro de compra</h1>
            <hr class="linea">
        </div>
    </section>
    <main>
        <div class="container">
            <div class="list">
                <% for (var i = 0; i < datos.length; i++) { %>
                <div class="item">
                    <div class="imagen_carta">
                        <img src= <%= datos[i].imagen %> class="personaje">
                    </div>
                    <div class="informacion_carta">
                        <p><%= datos[i].nombre%></p>
                        <p>Poder: <%= datos[i].poder%></p>
                        <p>Vida: <%= datos[i].vida%></p>
                        <p>Defensa: <%= datos[i].defensa%></p>
                        <p>Ataque: <%= datos[i].ataque%></p>
                        <p>Daño: <%= datos[i].dano%></p>

                        <div class="eliminar">
                            <p class="eliminarx">X</p>
                        </div>
                        
                        <div class="rectangulo">
                            <div class="cantidad">
                                <button class="masmenos">-</button>
                                <p>1</p>
                                <button class="masmenos">+</button>
                            </div>
                            <div class="valor">
                                <p>$168.000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="paginas">
                <ul class="listPage">
                    <li class="active">1</li>
                    <li class="numeros">2</li>
                    <li class="numeros">3</li>
                </ul>
            </div>
        </div>
        <div class="resumen">
            <div class="compra">
                <h2>Resumen de compra</h2>
                <hr class="lineados">
            </div>
            <div class="productos">
                <p>Productos:</p>
                <p class="totalb">Total bruto:</p>
                <p class="iva">Impuesto(IVA):</p>
                <hr class="lineatres">
                <h3 class="total">Total</h3>
            </div>
            <div class="pedido">
                <button class="realizar" id="checkout"> Realizar pedido</button>
                <p class="añadir">¿Quieres añadir más productos?</p>
            </div>    
        </div>
        <div id="resumen-flotante" class="resumen-flotante-oculto">
            <h2>Resumen de compra</h2>
                    <hr class="lineados">
            <div class="resumen-flotante-contenido">
                <div class="comprados">
                    <% for (var i = 0; i < datos.length; i++) { %>
                    <div class="guardar_cartas">
                        <div class="imagen_cartados">
                            <img src= <%= datos[i].imagen %> class="personajedos">
                        </div>
                        <div class="informacion_cartados">
                            <p><%= datos[i].nombre%></p>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
                <div class="productosdos">
                    <p>Productos:</p>
                    <p class="totalb">Total bruto:</p>
                    <p class="iva">Impuesto(IVA):</p>
                    <hr class="lineatres">
                    <h3 class="total">Total</h3>
                </div>
                <div class="pedidodos">
                    <button class="realizardos" id="checkout"> Realizar pedido</button>
                </div> 
                <div class="ircarrito">
                    <button class="ircarritodos" id="checkout"> Ir al carrito</button>
                </div>
                <div class="guardar">
                    <p>^</p>
                </div>
            </div>
        </div>
    </main> 
    <script src="carro_compras/js/navbar.js"></script>   
    <script src="carro_compras/js/paginacion.js"></script>    
    <script src="carro_compras/js/resumen_flotante.js"></script> 
</body>
    
</html>