<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/carro_compras/css/style.css">
        <title>Document</title>
    </head>

<body>
    <header>
        <img src="/carro_compras/img/logo.png" class="logo_img" alt="">
        <!-- Barra de navegación -->
        <img src="/carro_compras/img/hamburguer_icon.svg" class="abrir-btn" alt="">
        <nav class="" id="navbar">
            <ul class="opciones">
                <li><a href="#">Mi cuenta</a></li>
                <li><a href="#">Mi banco</a></li>
                <li><a href="#">Subasta</a></li>
                <li><a href="#">Jugar online</a></li>
                <li><a href="#">Torneo</a></li>
                <li><a id="mostrar-resumen-flotante" href="#">Resumen Flotante</a></li>
                <li><a href="#">Lista Deseos</a></li>
                <li><a href="#"><button class="login_btn">Login</button></a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div>
            <button class="regresar">
                <img class="flecha" src="carro_compras/img/flechablanca.png">
            </button>
        </div>
        <div class="carrito">
            <h1 class="titulo">Tu carro de compra</h1>
            <hr class="linea">
        </div>
    </section>
    <main>
        <div class="container">
            <div class="list">
                <% for (var i=0; i < cartas.length; i++) { %>
                    <div class="item">
                        <div class="imagen_carta">
                            <img src=<%=cartas[i].imagen %> class="personaje">
                        </div>
                        <div class="informacion_carta">
                            <p>
                                <%= cartas[i].CARTA_ID%>
                            </p>
                            <p>Poder: <%= cartas[i].CANTIDAD%>
                            </p>
                            <p>Vida: <%= cartas[i].vida%>
                            </p>
                            <p>Defensa: <%= cartas[i].defensa%>
                            </p>
                            <p>Ataque: <%= cartas[i].ataque%>
                            </p>
                            <p>Daño: <%= cartas[i].dano%>
                            </p>

                            <div class="eliminar">
                                <p class="eliminarx" data-id="<%= cartas[i].CARTA_ID %>">X</p>
                            </div>

                            <script>
                                 document.querySelector('.list').addEventListener('click', async (event) => {
        if (event.target.classList.contains('eliminarx')) {
            try {
                const idCarta = event.target.getAttribute('data-id');
                await axios.post('http://localhost:4000/carro_compras/DELETE-CARD', { IdUsuario: 1, IdCard: idCarta });
                console.log('Carta eliminada correctamente');

                const itemToRemove = event.target.closest('.item');
                itemToRemove.remove();

                // Verificar si la carta eliminada estaba en la primera página
                if (document.querySelectorAll('.list .item').length < limit && thisPage !== 1) {
                    // Si hay elementos en la segunda página, mover el primero a la primera página
                    const secondPageItems = document.querySelectorAll('.list .item');
                    if (secondPageItems.length > 0) {
                        const firstItemOfSecondPage = secondPageItems[0];
                        document.querySelector('.list').prepend(firstItemOfSecondPage);
                    }
                }

                // Actualizar automáticamente el HTML
                loadItem();
            } catch (error) {
                console.error('Error al realizar la solicitud:', error);
            }
        }
    });
                            </script>

<div class="rectangulo">
    <div class="cantidad">
        <button class="masmenos menos" data-cartaid="<%= cartas[i].IdCard %>">-</button>
        <p><%= cartas[i].CANTIDAD %></p>
        <button class="masmenos mas" data-cartaid="<%= cartas[i].IdCard %>">+</button>
    </div>
    <div class="valor">
        <p>$168.000</p>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const buttons = document.querySelectorAll('.masmenos');

        buttons.forEach(button => {
            button.addEventListener('click', async (event) => {
                const quantityElement = event.target.parentElement.querySelector('p');
                let quantity = parseInt(quantityElement.innerText);

                // Obtener el ID de la carta asociada al botón clickeado
                const cartaId = event.target.dataset.cartaid;

                // Verificar si se hizo clic en el botón de suma
                if (event.target.classList.contains('mas')) {
                    quantity++;
                } 
                // Verificar si se hizo clic en el botón de resta
                else if (event.target.classList.contains('menos')) {
                    // Verificar si la cantidad actual es mayor que 0 antes de restar
                    if (quantity > 0) {
                        quantity--;
                    }
                }

                // Actualizar la cantidad en el HTML
                quantityElement.innerText = quantity;

                try {
                    // Enviar la cantidad actualizada al servidor
                    await axios.post('http://localhost:4000/carro_compras/ADD-CARD', { IdCard: cartaId, Cantidad: quantity });
                } catch (error) {
                    console.error('Error al enviar la solicitud:', error);
                }
            });
        });
    });
</script>







                            
                            
                        </div>
                    </div>
                    <% } %>
            </div>
            <div class="paginas">
                <ul class="listPage">
                    <li class="active">1</li>
                    <li class="numeros">2</li>
                    <li class="numeros">3</li>
                </ul>
            </div>
        </div>
        <div class="resumen">
            <div class="compra">
                <h2>Resumen de compra</h2>
                <hr class="lineados">
            </div>
            <div class="productos">
                <p>Productos:</p>
                <p class="totalb">Total bruto:</p>
                <p class="iva">Impuesto(IVA):</p>
                <hr class="lineatres">
                <h3 class="total">Total</h3>
            </div>
            <div class="pedido">
                <button class="realizar" id="checkout"> Realizar pedido</button>
                <p class="añadir">¿Quieres añadir más productos?</p>

                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script>

                    const botonPago = document.getElementById('checkout');

                    botonPago.addEventListener('click', async () => {
                        try {
                            axios.post('http://localhost:3000/portal_pagos/create-order', { IdUsuario: 1 })
                                .then(response => {
                                    const paypalUrl = response.data.paypalUrl;
                                    window.location.href = paypalUrl;
                                    res.redirect(paypalUrl);
                                })
                                .catch(error => {
                                    console.error('Error al realizar la solicitud:', error);
                                });
                            console.log('Respuesta del servidor:', response.data);
                        } catch (error) {
                            console.error('Error al realizar la solicitud:', error);
                        }
                    });
                </script>

            </div>
        </div>
        <div id="resumen-flotante" class="resumen-flotante-oculto">
            <h2>Resumen de compra</h2>
            <hr class="lineados">
            <div class="resumen-flotante-contenido">
                <div class="comprados">
                    <% for (var i=0; i < cartas.length; i++) { %>
                        <div class="guardar_cartas">
                            <div class="imagen_cartados">
                                <img src=<%=cartas[i].imagen %> class="personajedos">
                            </div>
                            <div class="informacion_cartados">
                                <p>
                                    <%= cartas[i].CARTA_ID%>
                                </p>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <div class="productosdos">
                <p>Productos:</p>
                <p class="totalb">Total bruto:</p>
                <p class="iva">Impuesto(IVA):</p>
                <hr class="lineatres">
                <h3 class="total">Total</h3>
            </div>
            <div class="pedidodos">
                <button class="realizardos" id="checkout"> Realizar pedido</button>
            </div>
            <div class="ircarrito">
                <button class="ircarritodos" id="checkout"> Ir al carrito</button>
            </div>
            <div class="guardar">
                <p>^</p>
            </div>
        </div>
        </div>
    </main>
    <script src="carro_compras/js/navbar.js"></script>
    <script src="carro_compras/js/paginacion.js"></script>
    <script src="carro_compras/js/resumen_flotante.js"></script>
</body>

</html>